<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalVersion"
        tools:targetApi="31">
        <activity
            android:name=".DoanhThu.TrangChuDoanhThu"
            android:exported="false" />
        <activity
            android:name=".Menu.ChiTietMenu"
            android:exported="false" />
        <activity
            android:name=".Menu.ThemMenu"
            android:exported="false" />
        <activity
            android:name=".Menu.TrangChuMenu"
            android:exported="false" />
        <activity
            android:name=".Order.TinhToanOrder"
            android:exported="false" />
        <activity
            android:name=".Order.ChiTietOrder"
            android:exported="false" />
        <activity
            android:name=".Order.ThemOrder"
            android:exported="false" />
        <activity
            android:name=".Order.TrangChuOrder"
            android:exported="false" />
        <activity
            android:name=".MonAn.ChiTietMonAn"
            android:exported="false" />
        <activity
            android:name=".MonAn.ThemMonAn"
            android:exported="false" />
        <activity
            android:name=".MonAn.TrangChuMonAn"
            android:exported="false" />
        <activity
            android:name=".Ban.ThemBan"
            android:exported="false" />
        <activity
            android:name=".Ban.ChiTietBan"
            android:exported="false" />
        <activity
            android:name=".Ban.TrangChuBan"
            android:exported="false" />
        <activity
            android:name=".KhachHang.ChiTietKhachHang"
            android:exported="false" />
        <activity
            android:name=".KhachHang.ThemKhachHang"
            android:exported="false" />
        <activity
            android:name=".KhachHang.TrangChuKhachHang"
            android:exported="false" />
        <activity
            android:name=".FragmentNhanVien"
            android:exported="false" />
        <activity
            android:name=".NhanVien.CongViecNhanVien"
            android:exported="false" />
        <activity
            android:name=".CongViec.ChiTietCongViec"
            android:exported="false" />
        <activity
            android:name=".CongViec.TrangChuCongViec"
            android:exported="false" />
        <activity
            android:name=".CongViec.ThemCongViec"
            android:exported="false" />
        <activity
            android:name=".NhanVien.ChiTietNhanVien"
            android:exported="false" />
        <activity
            android:name=".NhanVien.ThemNhanVien"
            android:exported="false" />
        <activity
            android:name=".NhanVien.TrangChuNhanVien"
            android:exported="false" />
        <activity
            android:name=".FragmentAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>